@import 'src/components/GlobalStyles/GlobalStyles.scss';

.wrapper {
    font-size: 1.6rem;
    font-weight: 700;
    min-width: 40px;
    min-height: 32px;
    border-radius: 5px;
    border: 1px solid transparent;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    user-select: none;

    + .wrapper {
        margin-left: 8px;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

.userinfobtn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    height: 48px;
    width: 48px;
    color: var(--bs-secondary);
    background-color: transparent;

    &:hover {
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.primary {
    height: 38px;
    width: 144px;
    color: var(--bs-secondary);
    background-color: #fff;
    box-shadow: 0 2px 0 #e2f3ff;
    font-weight: 400;
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;

    &:hover {
        background: var(--bs-darkblue);
        color: #fff;
        cursor: pointer;
    }
}

.outline32 {
    height: 32px;
    min-width: 90px;
    font-size: 12px;
    font-weight: 400;
    color: var(--bs-darkblue);
    border-color: var(--bs-darkblue);
    background-color: transparent;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;

    &:hover {
        background: var(--bs-darkblue);
        color: #fff;
        cursor: pointer;
    }
}

.book32 {
    height: 32px;
    min-width: 90px;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;

    &:hover {
        background-color: var(--bs-red-nn);
        border-color: var(--bs-red-nnn);
        cursor: pointer;
    }
}

.menuitbtn {
    min-height: 56px;
    min-width: 60px;
    padding: 16px 8px;
    //margin: 0 8px;
    font-size: 13px;
    font-weight: 700;
    color: var(--bs-secondary);
    background-color: transparent;

    &:hover {
        cursor: pointer;
    }
}

.dropdowntoggle ::after {
    content: '';
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.big {
    height: 100% !important;
    min-width: 160px;
    font-size: 20px;
    font-weight: 700;
}

.loginbtn {
    width: 100%;
    height: 58px;
    color: #fff;
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
    font-size: 16px;
    font-weight: 700;
    padding: 16px 12px;

    &:hover {
        cursor: pointer;
        background-color: var(--bs-red-nn);
    }
}

.registerbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 58px;
    color: #fff;
    background-color: var(--bs-darkblue);
    border-color: var(--bs-darkblue);
    font-size: 16px;
    font-weight: 700;
    padding: 16px 12px;

    &:hover {
        cursor: pointer;
        background-color: var(--bs-secondary);
    }
}
